<div class="name">
    <h4>Stats</h4>
</div>

<div class="row" id="card">
    <div class="col-sm">
        <img src="assets/card.PNG">
    </div>
    <div class="col-sm">
        <p>Tus {{getNumberOfTech(0)}} {{getNameOfTech(0)}}/s generan {{getHashRateOfTech(0)*getNumberOfTech(0)}} Mh/S</p>
    </div>
</div>

<div class="row" id="rig">
    <div class="col-sm">
        <img src="assets/rig.PNG">
    </div>
    <div class="col-sm">
        <p>Tus {{getNumberOfTech(1)}} {{getNameOfTech(1)}}/s generan {{getHashRateOfTech(1)*getNumberOfTech(1)}} Mh/S</p>
    </div>
</div>

<div class="row" id="farm">
    <div class="col-sm">
        <img src="assets/farm.PNG">
    </div>
    <div class="col-sm">
        <p>Tus {{getNumberOfTech(2)}} {{getNameOfTech(2)}}/s generan {{getHashRateOfTech(2)*getNumberOfTech(2)}} Mh/S</p>
    </div>
</div>